<div class="layout container">


    <form action="list_symptoms" method="POST" data-turbo=false class="symptoms-form"
    data-controller="symptoms-list">

      <div class="symptoms-list"
      data-action="click->symptoms-list#buttonAppear">

        <% index = 0 %>
        <% @symptoms.each do |s| %>

          <div class="symptom-item"
               data-action="click->symptoms-list#symptomChosen"
               data-symptoms-list-target="item" data-symptoms-list-index-param="<%= index %>">
          <label> <%= s.name %>
              <input type="checkbox" name="<%= s.name %>" value="<%= s.id %>" visibility: hidden />
          </label>
          </div>
          <% index += 1 %>
        <% end %>

        </div>

      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

      <input type="submit" value="Merci, mais non merci !" class="suivant" id="symptoms-submit-btn"
      data-symptoms-list-target="button"/>
    </form>


</div>
<h1>Un inconfort à déclarer ?</h1>
