

 <% content_for :navbar do %>
  <%= render 'shared/navbar_yellow' %>
<% end %>
<div class="layout2">
    <div class="battery-container">
      <div class="box-battery">
      </div>
    </div>

    <form action="list_energy?id=<%= @condition.id %>" method="POST" data-turbo=false class="text-center">
        <div class="container-blue">

            <div class="box-btns">

              <div class="btn-groupe" data-action="click->energy-list#selectEnergy"
                    data-energy-list-target="item1">
                <input type="radio" class="radio-btn-hide"
                name="btn-neo" id="a" value="100">
                <label for="a" class="label-plus-btn">
                  <span class="text">100% 💥</span>
                  <div class="indicator"></div>
                </label>
              </div>

              <div class="btn-groupe" data-action="click->energy-list#selectEnergy"
                    data-energy-list-target="item2">
                <input type="radio" class="radio-btn-hide"
                name="btn-neo" id="b" value="75">
                <label for="b" class="label-plus-btn">
                  <span class="text">75% 🥦</span>
                  <div class="indicator"></div>
                </label>
              </div>

-
              <div class="btn-groupe" data-action="click->energy-list#selectEnergy"
                    data-energy-list-target="item3">
                <input type="radio" class="radio-btn-hide"
                name="btn-neo" id="c" value="50">
                <label for="c" class="label-plus-btn">
                  <span class="text">50% 🦥</span>
                  <div class="indicator"></div>
                </label>
              </div>

              <div class="btn-groupe" data-action="click->energy-list#selectEnergy"
                    data-energy-list-target="item4">
                <input type="radio" class="radio-btn-hide"
                name="btn-neo" id="d" value="25">
                <label for="d" class="label-plus-btn">
                  <span class="text">25% 🧻</span>
                  <div class="indicator"></div>
                </label>
              </div>

              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

</div>
 <% content_for :navbar do %>
  <%= render 'shared/navbar_yellow' %>
<% end %>
<div class="layout-list-energy" data-controller="energy-list">
  <br>
  <h1 style="color: white;">Niveau énergie...</h1>
  <form action="list_energy?id=<%= @condition.id %>" method="POST" data-turbo=false class="text-center">
    <div class="battery-main-bloc">
      <div class="battery-head-bloc"></div>
      <div class="battery-bloc">
        <div class="battery">
          <div class="battery-items">
            <div class="battery-level"
            data-action="click->energy-list#selectEnergy"
            data-energy-list-target="item1">
              Je pète le feu
              <input type="checkbox" name="100" value="100" visibility: hidden />
            </div>
            <div class="battery-level"
            data-action="click->energy-list#selectEnergy"
            data-energy-list-target="item2">
              En vrai, ça va
              <input type="checkbox" name="75" value="75" visibility: hidden />
            </div>
            <div class="battery-level"
            data-action="click->energy-list#selectEnergy"
            data-energy-list-target="item3">
              Comme ci, comme ça
              <input type="checkbox" name="50" value="50" visibility: hidden />
            </div>
            <div class="battery-level active"
            data-action="click->energy-list#selectEnergy"
            data-energy-list-target="item1">
              Au bout du roul’s
              <input type="checkbox" name="25" value="25" visibility: hidden />

            </div>

        </div>

              <input type="submit" value="Suivant" class="button-list-energy" data-energy-list-target="btn"/>
      </form>

      </div>
    </div>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <input name="energy_level" type="hidden" value="50" />
    <br>
    <input visibility: hidden type="submit" value="Suivant" class="button list-energy" data-energy-list-target="button"/>
    <br>
    <br>
  </form>

</div>

<h1 class="title-list-energy">Ton Energie ?</h1>
<div class="indicators list-energy">
  <div class="indicator-item2 active"></div>
  <div class="indicator-item2 active"></div>
  <div class="indicator-item2"></div>
</div>
