

    <%= form_with url: {controller: :conditions, action: :question4}, model: @condition do |f| %>

      <% @symptoms.each do |symptom|%>
        <%= symptom.name %> <%= check_box_tag :symptom_id, "#{symptom.id}" %>
      <br>
      <% end %>

      <%= f.submit %>
    <% end %>




    <select name="my_symptoms" multiple>
      <% @symptoms.each do |symptom|%>
        <option value="<%= symptom.id %>"><%= symptom.name %></option>
      <% end %>
    </select>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <input type="submit" value="Suivant" class="suivant" />
  </form>

<%# ------- %>

 <form action="list_symptoms" method="POST">




    <%= form_with url: {controller: :conditions, action: :list_symptoms}, model: @condition do |f| %>


      <%= f.collection_select :symptom_id, Symptom.all, :id, :name %>
      <br>

      <%= f.submit %>
    <% end %>



  </div>
</div>


<h1>Des symptômes ?</h1>
