<% content_for :meta_title, "Recap" %>
<% content_for :meta_description, "Nutrimood, app incroyable pour savoir comment mieux manger" %>
<div class="navbar_nutrimood green">
  <%= link_to "/menu", class: "navbar-brand" do %>
    <div class="logo green">nutrimood
      <i class="fa-solid fa-user"></i>
    </div>
  <% end %>
</div>
<div class="layout-green">
  <br>
  <h1 style="color: white; width: 200px; margin: auto">Très bon choix !</h1>
  <br>
  <div class="last-recipes-title text-center">
    <h2>Ma recette</h2>
  </div>
  <div class="recipe-bloc">
    <div class="recipe-img" style="background-image: url(<%= @condition.recipe.image %>)">
      <%= @condition.recipe.name %>
    </div>
  </div>
  <p>Retrouve toutes les infos de préparation de la recette</p>
  <%= link_to "/recipes/#{@condition.recipe.id}" do %>
    ICI
  <% end %>
  <p>Tu peux aussi relancer un Mood</p>
 <%= link_to "/menu" do %>
    ICI
  <% end %>
