<div class="layout-white">
  <div class="recipe-card">
    <div class="recipe-img" style="background-image: url(<%= recipe.image %>)">
    </div>
    <div class="text-content">
      <div class="recipe-title-<%= color %>">
        <%= recipe.name %>
      </div>
      <div class="recipe-tips">
        <%= link_to recipe_infos_path(recipe) do %>
          <div class="anecdote-bloc">
            <div class="anecdote">
              <div class="pourquoi-<%= color %>">
                <%# pourquoi le <%= recipe.anecdotes(@condition)[1][:ingredient].name %>
              </div>
              <div class="anecdote-content-<%= color %>">
                <%# <%= recipe.anecdotes(@condition)[1][:anecdote] %>
              </div>
              <div class="plus-infos-<%= color %> mt-3">
                <i class="fa-solid fa-circle-info"></i> Pour plus d'infos
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="recipe-shoplist-button" style="color:#17BEBB;">
    <form action="recap" method="POST" data-turbo=false>
      <input name="recipe" type="hidden" value="<%= recipe.id %>" />
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <input type="submit" value="Ca me botte !" class="to_shoplist-button-<%= color %>" />
    </form>
  </div>
</div>
