<div class="layout-white">
  <div class="recipe-card">
    <div class="recipe-img" style="background-image: url(<%= recipe.image %>)">
    </div>
    <div class="text-content">
      <div class="recipe-title-<%= color %>">
        <%= recipe.name %>
      </div>
      <div class="recipe-tips">
        <%= link_to recipe_infos_path(recipe) do %>
          <div class="anecdote-bloc">
            <div class="anecdote">
              <div class="pourquoi-<%= color %>">
                <% ingredients_by_symptoms = recipe.ingredients_by_symptoms.sample %>
                pourquoi le <%= ingredients_by_symptoms.ingredient.name %> ?
              </div>
              <div class="anecdote-content-<%= color %>"">
                <%= ingredients_by_symptoms.anecdote %>
              </div>
              <div class="plus-infos-<%= color %> mt-3">
                <i class="fa-solid fa-circle-info"></i> Pour plus d'infos
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="recipe-shoplist-button" style="color:#17BEBB;">
    <%= link_to recipe_path(recipe), class: "to_shoplist-button-#{color}" do %>
      Ca me botte !
    <% end %>
  </div>
</div>
