<% content_for :meta_title, "Tes propositions de recettes !" %>
<% content_for :meta_description, "Nutrimood, app incroyable pour savoir comment mieux manger" %>
<div id="carouselExampleControls" class="carousel slide" data-bs-interval="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <% @recipe_proposal.each_with_index do |recipe, index|%>
      <% if index == 0 %>
        <div class="carousel-item active">
          <%= render 'shared/navbar_blue' %>
          <%= render 'recipes/recipe_card', recipe: recipe, color: "blue" %>
        </div>
      <% elsif index == 1 %>
        <div class="carousel-item">
          <%= render 'shared/navbar_yellow' %>
          <%= render 'recipes/recipe_card', recipe: recipe, color: "yellow" %>
        </div>
      <% else %>
        <div class="carousel-item">
          <%= render 'shared/navbar_red' %>
          <%= render 'recipes/recipe_card', recipe: recipe, color: "red" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
