<% content_for :meta_title, "Liste d'ingrédients de la recette #{@recipe.name}" %>
<% content_for :meta_description, "La shoplist ultime, celle qui te permet de n'oublier aucun ingrédient pour ta recette !" %>
<% content_for :navbar do %>
  <%= render 'shared/navbar_green' %>
<% end %>
<div class="layout-green fond-shop">
  <div data-controller="carrot shopping-map" data-carrot-number-value="1">
    <%= link_to recipe_path(@recipe), class: "orange-close" do %>
      <i class="fa-solid fa-circle-xmark fa-3x"></i>
    <% end %>
    <div class="person-number">
      <div class="btn-minus nber"
      data-action="click->carrot#decrease"
      data-carrot-target="btnMoins">
        <i class="fa-solid fa-minus"></i>
      </div>
      <div class="btn-carrot"
      data-carrot-target="btnCarrot">
        <i class="fa-solid fa-carrot fa-2x" id="carrot-1"></i>
      </div>
      <div class="btn-plus nber"
      data-carrot-target="btnPlus"
      data-action="click->carrot#increase">
        <i class="fa-solid fa-plus"></i>
      </div>
    </div>
    <div class="content-bloc justify-content-center">
      <div class="ingredient-list">
        <% @recipe.recipes_ingredients.includes([:ingredient]).each do |recipes_ingredient| %>
          <div class="ingredient-checkbox">
            <input type="checkbox" id="<%= recipes_ingredient.ingredient.id %>" name="<%= recipes_ingredient.ingredient.name %>" unchecked>
            <% if recipes_ingredient.unit %>
              <div class="quantity" data-carrot-target="quantity"><%= recipes_ingredient.quantity %></div>
              <%= recipes_ingredient.unit %>
              <%= recipes_ingredient.ingredient.name %>
            <% else %>
              <%= recipes_ingredient.ingredient.name %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="last-recipes-title text-center">
    <h2>Les AMAP autour de moi</h2>
  </div>
  <div id="map"></div>
  <%= link_to recipe_steps_path(@recipe), class: "to_shoplist-button" do %>
    <i class="fa-solid fa-check"></i> J'AI TOUT
  <% end %>
</div>
