<% content_for :meta_title, "Comment cuisiner  #{@recipe.name} ?" %>
<% content_for :meta_description, "Nutrimood, app incroyable pour savoir comment mieux manger" %>
<% content_for :navbar do %>
  <%= render 'shared/navbar_green' %>
<% end %>
<div class="layout-white">
  <div class="recipe-card">
    <div class="recipe-img" style="background-image: url(<%= @recipe.image %>)">
    </div>
    <div class="text-content">
      <div class="recipe-title-green">
        <%= @recipe.name %>
      </div>

      <div class="recipe-content">

        <h1>Ingrédients</h1>
        <div class="ingredient-list">
          <% @recipe.recipes_ingredients.each do |recipes_ingredient| %>
            <div class="ingredient-item">
              <% if recipes_ingredient.unit %>
                <%= recipes_ingredient.quantity %>
                <%= recipes_ingredient.unit %>
                <%= recipes_ingredient.ingredient.name %>
              <% else %>
                <%= recipes_ingredient.ingredient.name %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
  <div class="buttons-bloc d-flex justify-content-around">
    <div>
      <%= link_to shop_list_path(@recipe) do %>
        <i class="fa-solid fa-basket-shopping fa-2x btn-rond"></i>
      <% end %>
    </div>
    <div>
      <%= link_to recipe_infos_path(@recipe) do %>
        <i class="fa-solid fa-circle-info fa-2x btn-rond"></i>
      <% end %>
    </div>
    <div>
      <%= link_to recipe_steps_path(@recipe) do %>
        <i class="fa-solid fa-rectangle-list fa-2x btn-rond"></i>
      <% end %>
    </div>
  </div>
</div>
