<% content_for :meta_title, "Connectes toi" %>
<% content_for :meta_description, "Connectes toi pour commencer ton expérience Nutrimood !" %>
<% content_for :navbar do %>
  <%= render 'shared/navbar_green' %>
<% end %>
<div class="layout-green">
  <h1 class="title list-mood">Ta première fois ?</h1>
  <div class="subscribe">
    <%= link_to "Je crée un compte en 30sec", new_registration_path(resource_name), class: "subscribe_btn" %>
  </div>
  <h2 class="little-title mt-3">sinon, connectes toi !</h2>
  <div class="sign_in new_user p-2">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                required: false,
                autofocus: true,
                placeholder: "mail@domain.com",
                input_html: { autocomplete: "email", class: "login-input" } %>
        <%= f.input :password,
                required: false,
                label: "Mot de passe",
                placeholder: "Min. 8 caractères",
                input_html: { autocomplete: "current-password", class: "login-input" } %>
        <div class="remember_form d-flex justify-content-between">
          <%= f.input :remember_me, as: :boolean, label: "Mémoriser" if devise_mapping.rememberable? %>
          <%= link_to "Mot de passe oublié ?", new_password_path(resource_name) %>
        </div>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Je me connecte", class: "login-button" %>
      </div>
    <% end %>
  </div>
</div>
<h1 style="color:#76B041">Connecte toi !</h1>
