<% content_for :meta_title, "Liste d'étapes de la recette #{@recipe.name}" %>
<% content_for :meta_description, "Toutes les étapes de la recette #{@recipe.name}" %>
<% content_for :navbar do %>
  <%= render 'shared/navbar_green' %>
<% end %>

<div class="layout-green pt-2 mama-cross">
  <%= link_to recipe_path(@recipe), class: "orange-cross" do %>
    <i class="fa-solid fa-circle-xmark fa-3x"></i>
  <% end %>

  <div class="recipe-steps p-3">
    <% @recipe.recipes_steps.each do |step| %>
      <div class="step-item d-flex">
        <div>
          <div class="step-number">
            <%= step.step_number %>
          </div>
        </div>
        <div class="step-description">
          <%= step.step_description %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="recipe-submit-button mt-5">
    <%= link_to menu_path, class: "to_shoplist-button btn-steps" do %>
      <i class="fa-solid fa-cookie-bite fa-2x"></i> À TABLE !
    <% end %>
  </div>
</div>
