<% content_for :meta_title, "nformations de la recette #{@recipe.name}" %>
<% content_for :meta_description, "Nutrimood, app incroyable pour savoir comment mieux manger" %>
<% content_for :navbar do %>
  <%= render 'shared/navbar_green' %>
<% end %>
<div class="layout-green mama global-info pt-2">
  <% if params[:cid] %>
    <%= link_to recipes_path + "?id=#{@condition.id}", class: "orange-cross-infos" do %>
      <i class="fa-solid fa-circle-xmark fa-3x"></i>
    <% end %>
  <% else  %>
    <%= link_to recipe_path(@recipe), class: "orange-cross-infos" do %>
      <i class="fa-solid fa-circle-xmark fa-3x"></i>
    <% end %>
  <% end  %>
  <div class="pourquoi">
    <h1>Pourquoi cette recette ?</h1>
    <p>Car elle contient des aliments parfaitement adaptés à ton mood pardis !</p>
  </div>
  <div class="anecdotes-list mt-5">
    <% i = 1  %>
    <% @recipe.anecdotes(@condition).each do |anecdote| %>
      <div class="mama white-div">
        <% if i % 2 == 0  %>
          <div class="font-alim floatting-right">
            <%= anecdote.last[:ingredient][:name] %>
          </div>
        <% else %>
          <div class="font-alim floatting-left">
            <%= anecdote.last[:ingredient][:name] %>
          </div>
        <% end %>
        <p> <%= anecdote.last[:anecdote] %> </p>
      </div>
      <% i += 1  %>
    <% end %>
  </div>
</div>
<h1 class="show-infos-title"><b>Infos Nutrition</b></h1>
