<% content_for :meta_title, "nformations de la recette #{@recipe.name}" %>
<% content_for :meta_description, "Nutrimood, app incroyable pour savoir comment mieux manger" %>
<% content_for :navbar do %>
  <%= render 'shared/navbar_green' %>
<% end %>

<div class="layout-green mama global-info pt-2">

  <div class="pourquoi">
    <h1>Pourquoi cette recette ?</h1>
    <p>Car elle contient des aliments parfaitement adaptés à ton mood pardis !</p>
  </div>

  <div class="mama white-div">
    <% anecd = @recipe.anecdotes(@condition) %>

    <div class="font-alim floatting-title1">
      <h2><%= anecd[1][:ingredient][:name] %> </h2>
    </div>
    <p> <%= anecd[1][:anecdote] %> </p>
  </div>
  <div class="mama white-div">
    <div class="font-alim floatting-title2">
       <h2><%= anecd[2][:ingredient][:name] %> </h2>
    </div>
    <p> <%= anecd[2][:anecdote] %> </p>
  </div>

</div>

<h1 class="show-infos-title"><b>Infos Nutrition</b></h1>
