<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/google_tag_manager_tag_in_head" %>

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= meta_image %>">
    <meta property="og:description" content="<%= meta_description %>">
    <meta property="og:site_name" content="<%= meta_title %>">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Font Google -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit">
    <!-- Prepare app for A2HS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
    <!-- Favicon -->
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <!-- Meta tags Management -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Google Places API -->
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzFHycWdF5P8sdmtJx_Qsf8ko_31M23nQ&libraries=places"></script>
    <!-- Turbo -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <%= render "shared/google_tag_manager_tag_in_body" %>

    <% unless ( (controller_name == "pages" && action_name == "home") || (controller_name == "recipes" && action_name == "index") ) %>
      <% if content_for?(:navbar) %>
        <%= yield(:navbar) %>
      <% end %>
    <% end %>
    <%= render "shared/flashes" %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
